{% if errors %}
  <div class="row">
      {% for error in errors %}
        <div class="col-8 my-1">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ error }}
            </div>
        </div>
      {% endfor %}
  </div>
 {% endif %}
{% if success %}
  <div class="row">
      <div class="col-8 my-1">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ success }}
          </div>
      </div>
  </div>
 {% endif %}