{% extends 'layout.twig' %} {% block content %}
<h3>{{ title }}</h3>
<div class="row mt-4">
	<form method="post" action="index.php?controller=user&action=create">
        <div class="mb-3">
            <label class="form-label">Kategória neve</label>
            <input type="text" required class="form-control" name="name">
        </div>
        <button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;&nbsp;Létrehoz</button>
    </form>
</div>
{% endblock %}